.about_me {
  background: var(--bg-second-color);

  &__container {
    display: flex;
    flex-direction: row-reverse;
  }

  &__video {
    width: 460px;

    &__container{
      display: flex;
      justify-content: center;
      width: 50%;
    }
  }

  &__content {
    width: 50%;
    padding: 10px;

    &__text {
      padding: 10px;
      column-count: 2;
      column-gap: 40px;

      & p {
        font-family: "Noto Sans Display", serif;
        font-weight: 400;
        font-size: 13px;
        line-height: 1.6;
        color: var(--title-color);
      }
    }
  }

  &__name {
    font-size: 45px;
    font-family: "Great Vibes", serif;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 0.06em;
    line-height: 1.1;
    color: var(--prim-title-color);

    &__box  {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, 0);
      text-align: center;
    }
  }

  &__img {
    border-radius: 10px;

    &__box{
      position: relative;
      max-width: 225px;
      margin: 0 auto;
    }
  }
}