.about_me {
  background: var(--bg-second-color);
  display: flex;
  justify-content: center;
  align-items: center;

  &__video {
    display: none;
  }

  &__content {
    &__text {
      padding: 10px;

      & p {
        font-family: "Noto Sans Display", serif;
        font-weight: 400;
        font-size: 13px;
        line-height: 1.6;
        text-align: justify;
        color: var(--title-color);
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: row-reverse;
  }

  &__img {
    border-radius: 10px;

    &__box{
      position: relative;
      max-width: 75%;
      margin: 0 auto;
    }
  }

  &__name {
    font-size: 67px;
    font-family: "Great Vibes", serif;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 0.06em;
    line-height: 1.1;
    color: var(--prim-title-color);

    &__box  {
      position: absolute;
      top: 62%;
      left: 50%;
      transform: translate(-50%, 0);
      text-align: center;
    }
  }

  @media screen and (min-width: 480px) {
    &__content {
      &__text {
        & p {
          font-size: 15px;
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    &__content {
      position: relative;
      display: flex;
    }

    .social-links__list {
      position: absolute;
      right: 70%;
      top: 110%;
    }
  }

  @media screen and (min-width: 1200px) {
       &__video {
         display: block;
         width: 460px;
         border-radius: 0 30px;
         border: 2px solid var(--prim-title-color);

      &__container{
        display: flex;
        justify-content: center;
        align-items: start;
        width: 50%;
      }
    }

    &__content {
      display: block;
      width: 65%;
      padding: 10px;

      &__text {
        padding: 10px;
        column-count: 2;
        column-gap: 40px;
        & p {
          font-size: 13px;
        }
      }
    }

    &__img {
      &__box{
        max-width: 225px;
      }
    }

    .social-links__list {
      position: static;
    }
  }
}