.cuts {
  background: var(--bg-second-color);
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    position: relative;
    width: 100%;
  }
  &__list {
    display: flex;
    justify-content: center;
    height: 40.31vw;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    pointer-events: none;
  }
  &__item {
    position: absolute;
    border: 3px solid var(--prim-title-color);
    border-radius: 0 30px;
    transition: all 1s ease, transform 1s ease;
    transform-style: preserve-3d;
    overflow: hidden;
    &.start-prev {
      transform: rotateX(0deg) rotateY(-20deg) scale(0.9);
      top: 0;
      left: 3vw;
    }
    &.start-active {
      transform: none;
      top: 0;
      z-index: 1;
      opacity: 1;
    }
    &.start-next {
      transform: rotateX(0deg) rotateY(20deg) scale(0.9);
      top: 0;
      left: 66vw;
    }
    &.active {
      transform: rotate(0) translateX(-50%);
      opacity: 1;
      left: 50%;
      z-index: 1;
    }
    &.prev {
      transform: translateX(-120%) rotateY(-20deg) scale(0.9);
      left: 40vw;
    }
    &.next {
      transform: rotateX(0deg) rotateY(20deg) scale(0.9);
      left: 66vw;
    }
    &.other {
      transform: scale(0.3);
      opacity: 0;
    }
    img {
      width: 30vw;
    }
    &__description {
      &__title {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        font-family: var(--greatVibes-regular);
        font-size: 3.13vw;
        letter-spacing: 0.5vw;
        color: var(--bg-second-color);
      }
      &__text {
        position: absolute;
        bottom: 5%;
        left: 0;
        color: var(--title-color);
        font-family: var(--balsamiqSans-regular);
        font-size: 1.41vw;
        line-height: 1.6;
        text-align: justify;
        padding: 20px 40px;
      }
      &.honey,
      &.snickers {
        h3 {
          bottom: 74%;
        }
      }
      &.lavender,
      &.oreo {
        h3 {
          color: var(--title-color);
          bottom: 74%;
        }
      }
      &.lavender-orange-peach {
        h3 {
          color: var(--title-color);
          bottom: 74%;
        }
      }
      &.raspberry-raffaello,
      &.napoleon {
        h3 {
          color: var(--title-color);
        }
      }
      &.tenderness {
        h3 {
          bottom: 74%;
          color: var(--title-color);
        }
        p {
          color: var(--bg-second-color);
        }
      }
      &.chocolate-raspberry {
        h3 {
          color: var(--title-color);
        }
        p {
          color: var(--bg-second-color);
        }
      }
    }
    &__link {
      position: absolute;
      top: 2%;
      right: 2%;
      border-radius: 50%;
      background: var(--bg-second-color) !important;
      .social-links__icon {
        width: 25px;
        height: 25px;
      }
      &:hover {
        background: var(--title-color) !important;
        scale: 1.1;
        transition: background-color, scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
  &__slider {
    &__controls {
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90vw;
      &__btn {
        cursor: pointer;
        background: none;
        border: none;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 1;
          width: 3.13vw;
          height: 3.13vw;
          background: url("../assets/icon/down-up-arrow.svg") no-repeat center center/cover;
        }
        &:hover {
          scale: 1.1;
        }
        &[id=prevBtn] {
          transform: rotate(90deg)
        }
        &[id=nextBtn] {
          transform: rotate(270deg)
        }
      }
      &__pagination {
        position: absolute;
        left: 50%;
        bottom: -10%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        gap: 0.5vw;
        &__dot {
          width: 1.56vw;
          height: 1.56vw;
          border-radius: 50%;
          background: #343761;
          opacity: 0.4;
          z-index: 2;
          &.active {
            opacity: 1;
            background: var(--prim-title-color);
          }
        }
      }
    }
  }
  @media screen and (max-width: 1561px) {
    &__list {
      height: 33vw;
    }
    &__item {
      img {
        width: 24vw;
      }
      &__description {
        &__title {
          font-size: 2.7vw;
          letter-spacing: 0.5vw;
        }

        &__text {
          font-size: 1.1vw;
          padding: 20px 40px;
        }
      }
      &.start-prev {
        left: 13vw;
      }
      &.start-next {
        left: 63vw;
      }
      &.prev {
        left: 43vw;
      }
      &.next {
        left: 63vw;
      }
    }
    &__slider {
      &__controls {
        &__pagination {
          gap: 0.5vw;
          &__dot {
            width: 1.1vw;
            height: 1.1vw;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1025px) {
    &__list {
      height: 84vw;
    }
    &__item {
      img {
        width: 62vw;
      }
      &__description {
        &__title {
          font-size: 7vw;
          letter-spacing: 0.5vw;
        }
        &__text {
          font-size: 3vw;
          padding: 20px 40px;
        }
      }
      &.start-prev {
        opacity: 0;
      }
      &.start-next {
        opacity: 0;
      }
      &.prev {
        opacity: 0;
      }
      &.next {
        opacity: 0;
      }
    }
    &__slider {
      &__controls {
        &__btn {
          &:before {
            width: 6vw;
            height: 6vw;
          }
        }
        &__pagination {
          gap: 2vw;
          &__dot {
            width: 2vw;
            height: 2vw;
          }
        }
      }
    }
  }
}