.gallery {
  background: var(--bg-second-color);

  &__content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
      gap: 5px;
      width: 100%;
      height: 100vh;
  }

  .card {
    width: 100%;
    height: calc((90vh - (3 * 5px + 30px)) / 4);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  img {
    border-radius: 0 40px;
    width: 100%;
    height: 100%;
    border: 2px solid var(--prim-title-color);

    &:not(:first-child) {
      display: none;
    }
  }

  &__img {
    display: block !important;
  }

  @media screen and (min-width: 768px) {

    .container {
      padding: 140px 15px 10px;
    }

    &__content {
      display: flex;
      flex-wrap: wrap;
      margin-right: - 10px;
      margin-bottom: - 20px;
    }

    .card {
      flex-basis: calc((100% - 40px) / 4);
      margin-right: 10px;
      margin-bottom: 30px;
      position: relative;
      box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
      width: 160px;
      height: 190px;

      img {
        position: absolute;
        width: 160px;
        height: 190px;
        object-fit: cover;
        transition: transform 0.3s ease-in-out;

        &:not(:first-child) {
          display: block;
        }

        &:nth-child(1) {
          top: 0;
          left: 0;
          z-index: 5;
        }

        &:nth-child(2) {
          top: -5px;
          left: -5px;
          z-index: 4;
        }

        &:nth-child(3) {
          top: -10px;
          left: -10px;
          z-index: 3;
        }

        &:nth-child(4) {
          top: -15px;
          left: -15px;
          z-index: 2;
        }

        &:nth-child(5) {
          top: -20px;
          left: -20px;
          z-index: 1;
        }

        card:hover & {
          transform: scale(1.05);
        }
      }
    }
  }

  @media screen and (min-width: 1200px) {
    .card {
      width: 95%;
      height: 85%;
      margin: 10px;

      img {
        position: absolute;
        width: 95%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease-in-out;
      }
    }

    .container {
      padding: 100px 15px 10px;
    }

    &__content {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(5, 1fr);
      gap: 10px;
      padding-top: 10px;
      margin: 0;
      height: 100%;
    }

    .card1 {
      grid-column-start: 1;
      grid-row-start: 2;
    }

    .card2 {
      grid-column-start: 1;
      grid-row-start: 3;
    }

    .card3 {
      grid-column-start: 1;
      grid-row-start: 4;
    }

    .card4 {
      grid-row: span 2 / span 2;
      grid-column-start: 2;
      grid-row-start: 1;
      height: 93%;
    }

    .card5 {
      grid-row: span 3 / span 3;
      grid-column-start: 2;
      grid-row-start: 3;
      height: 95%;
    }

    .card6 {
      grid-column-start: 3;
      grid-row-start: 1;
    }

    .card7 {
      grid-column: span 2 / span 2;
      grid-row: span 2 / span 2;
      grid-column-start: 3;
      grid-row-start: 2;
      height: 220px;
      width: 100%;
    }

    .card8 {
      grid-row: span 2 / span 2;
      grid-column-start: 3;
      grid-row-start: 4;
      height: 93%;
    }

    .card9 {
      grid-column-start: 4;
      grid-row-start: 1;
    }

    .card10 {
      grid-column-start: 4;
      grid-row-start: 4;
    }

    .card11 {
      grid-column-start: 4;
      grid-row-start: 5;
    }

    .card12 {
      grid-row: span 3 / span 3;
      grid-column-start: 5;
      grid-row-start: 2;
      height: 100%;
    }
  }
}