.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  background: var(--bg-second-color);
  z-index: 1;
  transition: background-image 1s ease-in-out;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
  &.fade::before {
    opacity: 0;
  }
  &__background-video {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__title {
    font-family: var(--shantellSans-extraBold);
    font-size: 3.65vw;
    line-height: 1.2;
    color: var(--prim-title-color);
    text-align: center;
    position: relative;
  }
  &__sub__title {
    text-align: center;
    font-family: var(--balsamiqSans-bold);
    font-size: 1.25vw;
    line-height: 1.2;
    font-weight: bold;
    color: var(--title-color);
    margin-top: 0.52vw;
    margin-bottom: 1.56vw;
    .hero  & {
      position: relative;
    }
  }
  &__hashtag {
    &__container {
      position: fixed;
      bottom: 2%;
      left: 2%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .social-links {
        &__list {
          padding: 0;
          &:hover .social-links__item {
            animation-play-state: paused
          }
        }
        &__item {
          display: inline-block;
          animation: bounceOnce 1.2s ease-out forwards;
          animation-fill-mode: forwards;
          animation-timing-function: ease-out;
          animation-iteration-count: infinite;
          &:nth-child(1) {
            animation-delay: 0s;
          }
          &:nth-child(2) {
            animation-delay: 1.5s;
          }
          &:nth-child(3) {
            animation-delay: 3s;
          }
        }
        &__link:hover .social-links__icon,
        &__link:focus .social-links__icon {
          fill: var(--title-color);
        }
        &__icon {
          fill: var(--prim-title-color);
        }
      }
    }
    &__text {
      font-size: 0.83vw;
      font-family: var(--balsamiqSans-bold);
      line-height: 1.14;
      color: var(--prim-title-color);
      padding-left: 0.36vw;
    }
  }
  &__content {
    margin: 0 10.42vw;
  }
  &__icon {
    width: 7.82vw;
    height: 7.82vw;
    position: relative;
    z-index: 1;
  }

  @media screen and (max-width: 1561px) {
    &__title {
      font-size: 4.52vw;
    }
    &__sub__title {
      font-size: 1.67vw;
    }
    &__hashtag {
      &__text {
        font-size: 1.12vw;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    &__background-video {
      display: none;
    }
    &__title {
      font-size: 6.51vw;
    }
    &__sub__title {
      font-size: 2.7vw;
      margin-top: 2.7vw;
      margin-bottom: 6.51vw;
    }
    &__hashtag {
      &__text {
        font-size: 1.12vw;
      }
    }
    &__icon {
      width: 13.02vw;
      height: 13.02vw;
    }
    &__hashtag {
      &__text {
        font-size: 2.1vw;
      }
    }
  }

  @media screen and (max-width: 550px) {
    &__icon {
      display: none;
    }
    &__title {
      font-size: 12.4vw;
    }
    &__sub__title {
      font-size: 4.8vw;
      margin-top: 2vw;
      margin-bottom: 12vw;
    }
    &__hashtag {
      &__text {
        font-size: 4.8vw;
      }
    }
  }
}

@keyframes bounceOnce {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-15px);
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-8px);
  }
  80%, 100% {
    transform: translateY(0);
  }
}


