.order_process {
  background: var(--bg-second-color);
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    margin-top: 10vw;
  }
  &__title {
    font-family: var(--shantellSans-extraBold);
    font-size: 1.82vw;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    margin-bottom: 1.04vw;
    text-align: center;
    color: var(--prim-title-color);
    &__second {
      font-family: var(--balsamiqSans-regular);
      font-size: 1.05vw;
      color: var(--text-second-color);
      margin-bottom: 2.6vw;
      text-align: center;
    }
  }
  &__explanation {
    display: flex;
    justify-content: center;
    align-items: center;
    &__text {
      font-family: var(--balsamiqSans-bold);
      font-size: 1.05vw;
      color: red;
      margin-left: 5px;
    }
    &__icon {
      fill: red;
      width: 17px;
      height: 17px;
    }
  }
  &__form {
    margin: 0 auto 20px;
    &__field {
      position: relative;
      min-width: calc((100% - 40px) / 2);
      margin-bottom: 50px;
      margin-right: 20px;
    }
    &__box {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-right: -20px;
    }
    &__input {
      border: none;
      background: #080808;
      border-bottom: 1px solid var(--title-color);
      color: var(--text-second-color);
      font-family: var(--sansation-regular);
      font-size: 0.89vw;
      outline: 0;
      border-radius: 0;
      height: 50px;
      width: 100%;
      padding-left: 10px;
      margin-bottom: 20px;
      &::placeholder {
        font-family: var(--sansation-regular);
        font-size: 0.89vw;
      }
      &__icon {
        position: absolute;
        top: 35%;
        right: 5%;
        fill: red;
        width: 15px;
        height: 15px;
        transform: translate(0, -50%);
      }
    }
    & textarea {
      height: 5.21vw;
      resize: none;
      padding-top: 10px;
    }
    button {
      margin: 20px auto 0;
    }
  }

  @media screen and (max-width: 1561px) {
    &__title {
      font-size: 2.36vw;
      &__second {
        font-size: 1.39vw;
      }
    }
    &__form {
      &__input {
        font-size: 1.18vw;
        &::placeholder {
          font-size: 1.18vw;
        }
      }
    }
  }

  @media screen and (max-width: 1025px) {
    &__title {
      font-size: 4.36vw;
      &__second {
        font-size: 2.39vw;
        width: 60vw;
        margin: 0 auto;
      }
    }
    &__form {
      width: 80vw;
      &__box {
        flex-direction: column;
        margin-right: 0;
      }
      &__field {
        margin-right: 0;
        margin-bottom: 20px;
      }
      &__input {
        font-size: 1.95vw;
        &::placeholder {
          font-size: 1.95vw;
        }
        &__icon {
          top: 35%;
          right: 2%;
        }
      }
      & textarea {
        height: 10.42vw;
        margin-top: 20px;
      }
    }
    &__explanation {
      &__text {
        font-size: 2.05vw;
      }
    }
  }

  @media screen and (max-width: 550px) {
    .container {
      margin-top: 0;
    }
    &__title {
      font-size: 5.36vw;
      &__second {
        font-size: 3.39vw;
        width: 60vw;
        margin: 0 auto;
      }
    }
    &__form {
      width: 90vw;
      &__field {
        margin-bottom: 0;
      }
      &__input {
        font-size: 2.95vw;
        height: 40px;
        &::placeholder {
          font-size: 2.95vw;
        }
        &__icon {
          top: 35%;
          right: 2%;
        }
      }
      & textarea {
        height: 10.42vw;
        margin-top: 0;
        padding-top: 5px;
      }
    }
    &__explanation {
      &__text {
        font-size: 3.05vw;
      }
    }
  }
}