.testimonials {
  position: relative;
  background: var(--bg-second-color);

  &__item {
    display: flex;
    flex-direction: column-reverse;
    border: 2px solid var(--prim-title-color);
    border-radius: 0 30px;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 50px;
    height: 700px;


    &__container {
      height: 100%;
      width: 100%;
      background: var(--bg-color);
      padding: 25px 10px;
      box-sizing: border-box;
    }

    &__author {
      &__photo {
        margin-right: 10px;
        border-radius: 50%;
        width: 54px;
      }

      &__container {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }
    }
  }

  .swiper-pagination-bullet {
    background-color: var(--bg-color);
    width: 12px;
    height: 12px;
    opacity: 0.7;
    transition: all 0.3s;
  }

  .swiper-pagination-bullet-active {
    background-color: var(--prim-title-color);
    opacity: 1;
    width: 16px;
    height: 16px;
  }

  @media screen and (min-width: 768px) {
    &__item {
      height: 500px;

      &__container {
        display: none;
      }
    }
    &__container {

    }
  }

  @media screen and (min-width: 1200px) {
    &__container {
      padding-top: 85px;
    }

    &__item {
      flex-direction: row-reverse;
      height: 550px;
      width: 500px;

      &__container {
        display: block;
      }

      &__img {
        width: 50%;
      }
    }
  }

}