.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {

  &__menu {
    display: flex;
    justify-content: center;
    background: var(--text-second-color);
  }

  &__link {
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--prim-title-color);

    &:focus {
      color: var(--title-color);
    }
  }

  &__gallery {
    &__img {
      display: block !important;
      height: 80vh;
      border-radius: 0 40px;
      border: 2px solid var(--prim-title-color);

      &__box {
        display: flex;
      }
    }
  }

  &__image {
    display: none;
  }

  &__close {
    position: absolute;
    top: 3%;
    right: 3%;
    background: none;
    border: none;
    cursor: pointer;
  }

  &__prev,
  &__next {
    display: none;
  }

  &__icon {
    fill: var(--title-color);
    width: 25px;
    height: 25px;

    .backdrop a:hover & {
      scale: 1.1;
      fill: var(--prim-title-color);
    }
  }

  &__alert {

    &__box{
      height: 50vh;
      width: 90vw;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: var(--text-second-color);
      border-radius: 0 30px;
      border: 2px solid var(--prim-title-color);
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
    }

    &__text {
      font-family: "Roboto Mono", serif;
      font-size: 21px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      margin-bottom: 100px;
      text-align: center;
      color: var(--prim-title-color);
    }
  }

  &__item {
    margin-bottom: 30px;
  }

  &__nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .description {
    position: relative;
    background: var(--title-color);
    color: #212121;
    padding: 80px 35px;
    width: 80vw;
    height: 90vh;
    border-radius: 0 40px;
    border: 2px solid var(--prim-title-color);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);

    &__title {
      font-family: "Roboto Mono", serif;
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: .3em;
      margin-bottom: 20px;
      text-align: left;
    }

    &__prime__text {
      font-family: "PT Serif", serif;
      font-size: 14px;
      line-height: 24px;
      color: var(--bg-color);
      margin-bottom: 30px;
    }

    &__second__text {
      font-family: "Great Vibes", serif;
      font-size: 21px;
      line-height: 24px;
      color: var(--text-second-color);
    }

    &__price {
      display: flex;
      align-items: baseline;

      &__box {
        position: absolute;
        top: 2%;
        right: 0;
      }

      &__text {
        font-family: "Roboto Mono", serif;
        font-size: 14px;
        font-weight: 700;
        color: var(--text-second-color);
        margin-right: 10px;
      }

      &__number {
        font-family: "Roboto Mono", serif;
        font-size: 30px;
        font-weight: 700;
        color: var(--prim-title-color);
        margin-right: 10px;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .content {
      display: flex;
    }

    .description {
      margin-right: 5px;
      padding: 140px 60px;
      width: 50%;
    }

    &__image {
      display: block;
      cursor: pointer;
      width: 100%;
      height: 100%;
      object-fit: cover;

      &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        background: var(--text-second-color);
        overflow: hidden;
        border: 2px solid var(--prim-title-color);
        border-radius: 40px 0;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
      }
    }

    &__next {
      display: block;
      position: absolute;
      top: 50%;
      left: 75%;
      transform: translateY(-50%);
      border: none;
      padding: 10px;
      cursor: pointer;
    }

    &__prev {
      display: block;
      position: absolute;
      top: 50%;
      left: 20%;
      border: none;
      padding: 10px;
      cursor: pointer;
      transform: translateY(-50%) rotate(180deg);
    }

    &__alert {

      &__box {
        height: 50vh;
        width: 50vw;
      }
    }
  }

  @media screen and (min-width: 1200px) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;

    &__close {
      top: 5%;
      right: 5%;
    }

    .description {
      &__title {
        margin-bottom: 50px;
      }

      &__price {
        &__box {
          top: 5%;
        }
      }
    }

    &__image {
      height: 90vh;
    }
  }
}