.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  &__menu {
    display: flex;
    justify-content: center;
  }
    .content {
      display: flex;
    }
  &__link {
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--prim-title-color);

    &:focus {
      color: var(--title-color);
    }
  }
  &__gallery {
    &__img {
      display: block !important;
      border-radius: 0 40px;
      border: 2px solid var(--prim-title-color);
      &__box {
        display: flex;
        img {
          max-width: 30vw;
        }
      }
    }
    &__control {
      display: flex;
      justify-content: space-between;
      width: 90vw;
    }
  }
  &__what_i_offer {
    .content {
      width: 70vw;
    }
    &__tiktok {
      position: absolute;
      top: 2%;
      left: 4%;
      margin: 0 auto;
      background: var(--prim-title-color) !important;
      animation: 2s infinite scale-btn linear 1.6s;
      .social-links__icon {
        fill: var(--bg-second-color);
      }
      &:hover,
      &:focus {
        scale: 1.1;
        background: var(--bg-second-color) !important;
        transition: background-color, scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
  &__close {
    position: absolute;
    top: 5%;
    right: 5%;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  &__next {
    position: relative;
    border: none;
    background: transparent;
    cursor: pointer;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(270deg);
      z-index: 1;
      width: 3.13vw;
      height: 3.13vw;
      background: url(../assets/icon/down-up-arrow.svg) no-repeat center center / cover;
    }
    &:hover {
      scale: 1.1;
    }
  }
  &__prev {
    position: relative;
    border: none;
    background: transparent;
    cursor: pointer;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
      z-index: 1;
      width: 3.13vw;
      height: 3.13vw;
      background: url(../assets/icon/down-up-arrow.svg) no-repeat center center / cover;
    }
    &:hover {
      scale: 1.1;
    }
  }
  &__icon {
    fill: var(--title-color);
    width: 25px;
    height: 25px;
    .backdrop a:hover & {
      scale: 1.1;
      fill: var(--prim-title-color);
    }
  }
  &__alert {
    &__box{
      height: 35vw;
      width: 40vw;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: var(--bg-second-color);
      border-radius: 0 30px;
      border: 2px solid var(--prim-title-color);
    }
    &__text {
      font-family: var(--shantellSans-extraBold);
      font-size: 1.67vw;
      text-transform: uppercase;
      letter-spacing: 0.2vw;
      margin-bottom: 5.21vw;
      text-align: center;
      color: var(--prim-title-color);
    }
  }
  &__item {
    margin-bottom: 30px;
  }
  &__nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__image {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &__box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      background: var(--text-second-color);
      overflow: hidden;
      border: 2px solid var(--prim-title-color);
      border-radius: 40px 0;
    }
  }
  .description {
    position: relative;
    background: var(--title-color);
    color: #212121;
    border-radius: 0 40px;
    border: 2px solid var(--prim-title-color);
    margin-right: 0.26vw;
    padding: 7.29vw 3.13vw;
    width: 50%;
    &__title {
      font-family: var(--shantellSans-extraBold);
      font-size: 1.67vw;
      text-transform: uppercase;
      letter-spacing: 0.5vw;
      margin-bottom: 2.6vw;
      text-align: left;
    }
    &__prime__text {
      font-family: var(--balsamiqSans-regular);
      font-size: 0.83vw;
      line-height: 1.4;
      color: var(--bg-color);
      margin-bottom: 1.56vw;
    }
    &__second__text {
      font-family: var(--greatVibes-regular);
      font-size: 1.09vw;
      line-height: 1.3;
      color: var(--text-second-color);
    }
    &__price {
      display: flex;
      align-items: baseline;
      &__box {
        position: absolute;
        top: 2%;
        right: 0;
      }
      &__text {
        font-family: var(--balsamiqSans-regular);
        font-size: 0.73vw;
        color: var(--text-second-color);
        margin-right: 10px;
      }
      &__number {
        font-family: var(--balsamiqSans-regular);
        font-size: 1.56vw;
        color: var(--prim-title-color);
        margin-right: 0.53vw;
      }
    }
  }

  @media screen and (max-width: 1561px) {
    .description {
      margin-right: 0.35vw;
      padding: 7.29vw 3.13vw;
      &__title {
        font-size: 2.22vw;
        letter-spacing: 0.6vw;
        margin-bottom: 2.6vw;
      }
      &__prime__text {
        font-size: 1.11vw;
        margin-bottom: 1.56vw;
      }
      &__second__text {
        font-size: 1.39vw;
      }
      &__price {
        &__box {
          top: 3%;
          right: 3%;
        }
        &__text {
          font-size: 1.11vw;
          margin-right: 10px;
        }
        &__number {
          font-size: 2.22vw;
          margin-right: 0.53vw;
        }
      }
    }
    &__gallery {
      &__img {
        &__box {
          img {
            max-height: 45vw;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1025px) {
    &__what_i_offer {
      .content {
        width: 95vw;
      }
    }
    .description {
      margin-right: 0.65vw;
      padding: 10.29vw 4.13vw;
      &__title {
        font-size: 3.26vw;
        letter-spacing: 0.9vw;
        margin-bottom: 2.7vw;
      }
      &__prime__text {
        font-size: 1.82vw;
        margin-bottom: 1.56vw;
      }
      &__second__text {
        font-size: 2.35vw;
      }
      &__price {
        &__box {
          top: 3%;
          right: 3%;
        }
        &__text {
          font-size: 1.57vw;
          margin-right: 10px;
        }
        &__number {
          font-size: 2.62vw;
          margin-right: 10px;
        }
      }
    }
    &__gallery {
      &__img {
        &__box {
          img {
            max-height: 90vw;
            max-width: 50vw;
          }
        }
      }
    }
    &__next {
      &:before {
        width: 6vw;
        height: 6vw;
      }
    }
    &__prev {
      &:before {
        width: 6vw;
        height: 6vw;
      }
    }
    &__alert {
      &__box{
        height: 90vw;
        width: 80vw;
      }
      &__text {
        font-size: 3.13vw;
        letter-spacing: 0.7vw;
        margin-bottom: 9.12vw;
      }
    }
  }

  @media screen and (max-width: 550px) {
    &__what_i_offer {
      .content {
        flex-direction: column-reverse;
        align-items: center;
        width: 90vw;
      }
      .description {
        margin-right: 0;
        padding: 20.29vw 6.13vw;
        width: 100%;
        &__title {
          font-size: 5.35vw;
          letter-spacing: 1.5vw;
          margin-bottom: 4.8vw;
        }
        &__prime__text {
          font-size: 4.27vw;
          margin-bottom: 5.34vw;
        }
        &__second__text {
          font-size: 5.34vw;
        }
        &__price {
          &__box {
            top: 3%;
            right: 3%;
          }
          &__text {
            font-size: 3.2vw;
            margin-right: 10px;
          }
          &__number {
            font-size: 5.62vw;
            margin-right: 10px;
          }
        }
      }
    }
    &__gallery {
      &__img {
        &__box {
          img {
            max-height: 100%;
            max-width: 80vw;
            width: 80vw;
          }
        }
      }
    }
    &__icon {
      width: 30px;
      height: 30px;
    }
    &__close {
      top: 4%;
      right: 8%;
    }
    &__next,
    &__prev {
      display: none;
    }
    &__image {
      &__box {
        display: none;
      }
    }
    &__alert {
      &__box{
        height: 100vw;
        width: 90vw;
      }
      &__text {
        font-size: 5.34vw;
        letter-spacing: 1vw;
        margin-bottom: 13.34vw;
      }
    }
  }
}

.flip-hide {
  transform-origin: center;
  animation: flipDisappear 0.4s forwards;
}

.flip-show {
  transform-origin: center;
  animation: flipAppear 0.4s forwards;
}

@keyframes scale-btn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes flipDisappear {
  from {
    transform: rotateX(0deg);
    opacity: 1;
  }
  to {
    transform: rotateX(90deg);
    opacity: 0;
  }
}

@keyframes flipAppear {
  from {
    transform: rotateX(90deg);
    opacity: 0;
  }
  to {
    transform: rotateX(0deg);
    opacity: 1;
  }
}