.hero__title {
  margin: 30px auto;
  width: 696px;
  text-align: center;
  font-weight: 900;
  font-size: 60px;
  line-height: 1.6;
  color: var(--prim-title-color);
  position: relative;
}

.section__title {
  margin: auto;
  width: 696px;
  text-align: center;
  font-size: 36px;
  line-height: 1.2;
  font-weight: bold;
  color: var(--title-color);
  
  .hero  & {
    position: relative;
  }
}