.container {
  max-width: 100%;
  padding: 15px 10px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    padding: 140px 15px 10px;
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    padding: 100px 15px 10px;
    max-width: 1200px;
  }
}