@font-face {
  font-family: "ShantellSans-ExtraBold";
  src: url('../../fonts/ShantellSans-ExtraBold.woff') format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "BalsamiqSans-Regular";
  src: url('../../fonts/BalsamiqSans-Regular.woff') format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BalsamiqSans-Bold";
  src: url('../../fonts/BalsamiqSans-Bold.woff') format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Sansation-Regular";
  src: url('../../fonts/Sansation-Regular.woff') format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sansation-Bold";
  src: url('../../fonts/Sansation-Bold.woff') format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GreatVibes-Regular";
  src: url('../../fonts/GreatVibes-Regular.woff') format("woff");
  font-weight: 400;
  font-style: normal;
}