:root {
  --text-second-color: #757575;
  --bg-color: #212121;
  --bg-second-color: #000000;
  --link-color: #2196F3;
  --title-color: #ffffff;
  --prim-title-color: #d99714;

  --shantellSans-extraBold: "ShantellSans-ExtraBold"; //title
  --balsamiqSans-regular: "BalsamiqSans-Regular", sans-serif; //text
  --balsamiqSans-bold: "BalsamiqSans-Bold", sans-serif;
  --sansation-regular: "Sansation-Regular", sans-serif; //button
  --sansation-bold: "Sansation-Bold", sans-serif;
  --greatVibes-regular: "GreatVibes-Regular", cursive; //subTitle
}